In [2]:
import requests
import json
import pandas as pd

In [3]:
response = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&outputsize=full&apikey=BNM3OK9KHBBVD3YZ') #api request for full timeseries data for IBM

In [35]:
data = response.text
parsed = json.loads(data)
metadata = parsed['Meta Data']
tsdata = parsed['Time Series (5min)']
tsdf = pd.DataFrame.from_dict(tsdata, orient='index')
tsdf.head()

<bound method NDFrame.head of                       1. open   2. high    3. low  4. close 5. volume
2021-02-23 18:20:00  120.7000  120.7000  120.7000  120.7000       500
2021-02-23 17:10:00  120.5600  120.5600  120.5600  120.5600       105
2021-02-23 17:00:00  120.7000  120.7100  120.7000  120.7100       625
2021-02-23 16:35:00  120.5400  120.5400  120.5400  120.5400       201
2021-02-23 16:15:00  120.7100  120.7100  120.7100  120.7100     10620
...                       ...       ...       ...       ...       ...
2021-01-26 07:25:00  117.0475  117.0475  117.0475  117.0475       316
2021-01-26 07:20:00  117.0672  117.0672  117.0573  117.0573       762
2021-01-26 06:10:00  117.1363  117.1363  117.1363  117.1363       349
2021-01-26 05:00:00  117.0968  117.0968  117.0968  117.0968       300
2021-01-26 04:05:00  116.9093  116.9093  116.9093  116.9093       210

[2358 rows x 5 columns]>